<template>
 <div class="container-fluid no-space">
  <div class="row-fluid no-space">
   <div class="span12 bgmain">
    <div class="span9 offset3">
     <br />
     <div class="progress progress-striped active progressbarfix">
      <div class="bar" style="width: 40%"></div>
     </div>
    </div>
   </div>
   <div class="span12 bgmain bgfix">
    <div class="playbarbuttons">
     <img src="img/backwardbutton.png" class="backbutton" />
     <img src="img/backwardbutton.png" class="backbutton" />
     <img src="img/playbutton.png" class="mainplaybutton" />
     <img src="img/forwardbutton.png" class="forwardbutton" />
     <img src="img/forwardbutton.png" class="forwardbutton" />
    </div>
   </div>
  </div>
 </div>
</template>

<script>
 export default {
  name: 'MainContent',
 };
</script>

<style scoped></style>
