<template>
 <!--topbar-->
 <div class="container-fluid">
  <div class="row-fluid">
   <div class="span12 bgbar">
    <br />
    <br />
    <br />
   </div>
  </div>
  <!--topbar-->

  <!--sidebar-->
  <div class="row-fluid no-space">
   <div class="span3 bgmain">
    <img src="img/xmlogo.png" class="center xmlogo" />

    <div class="sidebar">
     <a class="uploadbtn" href="#" data-toggle="modal" data-target="#uploadmodal">Upload Music</a>
     <!--upload button modal-->
     <div class="modal fade uploadmodal" id="uploadmodal">
      <div class="modal-header">
       <h2 class="uploadmodal">Upload Music</h2>
      </div>
      <div class="modal-body">
       <label class="my-2" for="item">Upload New Song</label>
       <VueFileAgent
        ref="vueFileAgent"
        @select="filesSelected($event)"
        :multiple="false"
        :maxSize="'10MB'"
        :deletable="true"
        :accept="'.mp3'"
        :theme="'list'"
        @beforedelete="onBeforeDelete($event)"
        @delete="fileDeleted($event)"
        :errorText="{
         type: 'Invalid file type. Only song file is allowed',
         size: 'Song should not exceed 10MB in size',
        }"
        v-model="fileRecords"
       ></VueFileAgent>
       <label class="my-2" for="item">Song Title</label>
       <input v-model="data.song_title" id="item" type="text" class="form-control shadow-none" placeholder="Lovely" autocomplete="off" />
       <label class="my-2" for="item">Song Artist</label>
       <input v-model="data.song_artist" id="item" type="text" class="form-control shadow-none" placeholder="Billie Elish" autocomplete="off" />
      </div>
      <button type="button" class="btn btn-cancel1 bottomright" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-upload bottomright" v-on:click.prevent="uploadSong">Upload</button>
     </div>
     <!--upload button modal-->
     <br />
     <br />
     <br />
     <h2>All Songs</h2>
     <br />
     <br />
     <br />
     <br />
     <a class="addplaylistbtn" href="#" data-toggle="modal" data-target="#addplaymodal">Create Playlist</a>
     <!--add playlist modal-->
     <div class="modal fade uploadmodal" id="addplaymodal">
      <div class="modal-header">
       <h2 class="addplaymodal">Create Playlist</h2>
      </div>
      <div class="modal-body">
       <label class="my-2" for="item">Create New Playlist</label>
       <input v-model="data.playlist_name" id="item" type="text" class="form-control shadow-none" placeholder="Playlist name" autocomplete="off" />
      </div>
      <button type="button" class="btn btn-cancel2 bottomright" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-add bottomright" v-on:click.prevent="savePlaylist">Create</button>
     </div>
     <!--add playlist modal-->
     <br />
     <br />
     <br />
     <div class="playlistspacing">
      <table class="table table-borderless">
       <tbody v-for="(playlist, i) in playlists" :key="i">
        <tr class="text-light">
         <td>
          <button class="btn btn-sm text-light shadow-none">{{ playlist.name }}</button>
         </td>
         <td>
          <button
           class="btn btn-sm text-light shadow-none"
           v-on:click.prevent="
            update_data = playlist;
            $bvModal.show('updatePlaylistModal');
           "
          >
           Edit
          </button>
         </td>
         <td>
          <button
           class="btn btn-sm text-light shadow-none"
           v-on:click.prevent="
            delete_playlist = playlist.id;
            $bvModal.show('deletePlaylistModal');
           "
          >
           Delete
          </button>
         </td>
        </tr>
       </tbody>
      </table>
     </div>
    </div>
   </div>
   <!--sidebar-->

   <!--main content-->
   <div class="span9 bgwhite">
    <input type="text" class="span3 searchbar" placeholder="Search" />
    <div class="allsongstext">
     <br />
     <h2>All Songs</h2>
    </div>
    <br />
    <div class="divScroll">
     <br />
     <br />
     <table class="table table-bordered table-stripped">
      <thead class="theadstyle">
       <tr>
        <th></th>
        <th><br />Title<br /><br /></th>
        <th><br />Artrist<br /><br /></th>
        <th><br />Duration<br /><br /></th>
        <th><br />Action<br /><br /></th>
       </tr>
      </thead>
      <tbody class="tbodystyle">
       <tr v-for="(song, j) in songs" :key="j">
        <td>
         <img src="img/playiconpng.jpg" class="playbutton" />
        </td>
        <td>{{ song.title }}</td>
        <td>{{ song.artist }}</td>
        <td>{{ song.length }}</td>
        <td>
         <button
          class="btn btn-sm text-danger shadow-none mt-2 pt-2"
          v-on:click.prevent="
           delete_song = song.id;
           $bvModal.show('deleteSongModal');
          "
         >
          Delete
         </button>
         <button
          class="btn btn-sm text-primiary shadow-none mt-2 pt-2"
          v-on:click.prevent="
           data = song;
           $bvModal.show('addToPlaylistModal');
          "
         >
          Add to playlist
         </button>
        </td>
       </tr>
      </tbody>
     </table>
    </div>
    <br />
   </div>
   <!--main content-->
  </div>
  <b-modal id="addToPlaylistModal" hide-header centered title="Add to Playlist">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <label class="my-2" for="item">Select a playlist</label>
     <select v-model="data.playlist_id" class="form-select shadow-none">
      <option v-for="(playlist, i) in playlists" :key="i" :value="playlist.id">{{ playlist.name }}</option>
     </select>
    </div>
   </div>
   <template #modal-footer="{ cancel }">
    <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
    <b-button variant="success" size="sm" v-on:click.prevent="add"> Add </b-button>
   </template>
  </b-modal>
  <b-modal id="updatePlaylistModal" hide-header centered title="Update Playlist">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <label class="my-2" for="item">Update Playlist</label>
     <input v-model="update_data.name" id="item" type="text" class="form-control shadow-none" placeholder="Playlist name" autocomplete="off" />
    </div>
   </div>
   <template #modal-footer="{ cancel }">
    <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
    <b-button variant="success" size="sm" v-on:click.prevent="updatePlaylist"> Update </b-button>
   </template>
  </b-modal>
  <b-modal id="deletePlaylistModal" hide-header centered title="Delete Playlist">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <h5 class="text-center my-3">Are you sure to delete this playlist?</h5>
    </div>
   </div>
   <template #modal-footer="{ cancel }">
    <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
    <b-button variant="danger" size="sm" v-on:click.prevent="deletePlaylist"> Delete </b-button>
   </template>
  </b-modal>
  <b-modal id="deleteSongModal" hide-header centered title="Delete Playlist">
   <div class="row pe-4 ps-4 pt-1 pb-2">
    <div class="col">
     <h5 class="text-center my-3">Are you sure to delete this playlist?</h5>
    </div>
   </div>
   <template #modal-footer="{ cancel }">
    <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
    <b-button variant="danger" size="sm" v-on:click.prevent="deleteSong"> Delete </b-button>
   </template>
  </b-modal>
 </div>
</template>

<script>
 import { mapState } from 'vuex';
 export default {
  name: 'TopBar',
  data() {
   return {
    data: {
     playlist_name: '',
     song_name: '',
     song_artist: '',
     song_title: '',
     playlist_id: '',
    },
    update_data: {
     playlist_name: '',
    },
    delete_playlist: '',
    delete_song: '',
    fileRecords: [],
    fileRecordsForUpload: [],
    fileName: '',
   };
  },
  computed: {
   ...mapState('playlist', ['playlists']),
   ...mapState('song', ['songs']),
  },
  async mounted() {
   await this.$store.dispatch('playlist/getPlaylists');
   await this.$store.dispatch('song/getSongs');
  },
  async created() {
   document.title = 'MP3 Player';
  },
  methods: {
   setViewPlaylist(data) {
    this.$store.commit('song/SET_PLAYLIST_SONGS', { data: data });
    this.$router.push({ name: 'viewplaylist', params: { slug: data.id } });
   },
   async savePlaylist() {
    if (this.data.playlist_name == '') return alert('Please include a playlist name');
    const res = await this.$store.dispatch('playlist/savePlaylist', this.data);
    if (res.status == 200) {
     alert('Playlist added successfully');
     await this.$store.dispatch('playlist/getPlaylists');
     this.$bvModal.hide('addplaymodal');
     this.data.playlist_name = '';
    } else {
     this.$bvModal.hide('addplaymodal');
     alert('Something went wrong');
    }
   },
   async add() {
    if (this.data.playlist_id == 0) return alert('Please select a playlist');
    const res = await this.$store.dispatch('song/addToPlaylist', this.data);
    if (res.status == 200) {
     alert('Song added to playlist successfully');
     await this.$store.dispatch('song/getSongs');
     this.$bvModal.hide('addToPlaylistModal');
    } else {
     this.$bvModal.hide('addToPlaylistModal');
     alert('Something went wrong');
    }
   },
   async updatePlaylist() {
    if (this.update_data.name == '') return alert('Please include a playlist name');
    const res = await this.$store.dispatch('playlist/updatePlaylist', this.update_data);
    if (res.status == 200) {
     alert('Playlist updated successfully');
     await this.$store.dispatch('playlist/getPlaylists');
     this.$bvModal.hide('updatePlaylistModal');
     this.update_data.playlist_name = '';
    } else {
     this.$bvModal.hide('updatePlaylistModal');
     alert('Something went wrong');
    }
   },
   async deletePlaylist() {
    const res = await this.$store.dispatch('playlist/deletePlaylist', this.delete_playlist);
    if (res.status == 200) {
     alert('Playlist deleted successfully');
     await this.$store.dispatch('playlist/getPlaylists');
     this.$bvModal.hide('deletePlaylistModal');
    } else {
     alert('Something went wrong');
     this.$bvModal.hide('deletePlaylistModal');
    }
   },
   async deleteSong() {
    const res = await this.$store.dispatch('song/deleteSong', this.delete_song);
    if (res.status == 200) {
     alert('Song deleted successfully');
     await this.$store.dispatch('song/getSongs');
     this.$bvModal.hide('deleteSongModal');
    } else {
     alert('Something went wrong');
     this.$bvModal.hide('deleteSongModal');
    }
   },
   filesSelected: function (fileRecordsNewlySelected) {
    var validFileRecords = fileRecordsNewlySelected.filter((fileRecord) => !fileRecord.error);
    this.fileRecordsForUpload = this.fileRecordsForUpload.concat(validFileRecords);
   },
   fileDeleted: function (fileRecord) {
    var i = this.fileRecordsForUpload.indexOf(fileRecord);
    if (i !== -1) {
     this.fileRecordsForUpload.splice(i, 1);
    }
   },
   onBeforeDelete: function (fileRecord) {
    var i = this.fileRecordsForUpload.indexOf(fileRecord);
    if (i !== -1) {
     this.fileRecordsForUpload.splice(i, 1);
     var k = this.fileRecords.indexOf(fileRecord);
     if (k !== -1) this.fileRecords.splice(k, 1);
    }
   },
   async uploadSong() {
    if (this.data.song_title == '') return alert('Please include a song title');
    if (this.data.song_artist == '') return alert('Please include a a song artist');
    if (this.fileRecordsForUpload.length == 0) return alert('Please select a song first');
    if (this.fileRecordsForUpload.length > 0) {
     const song = await this.$refs.vueFileAgent.upload('http://127.0.0.1:8000/api/uploadSong', { 'X-Requested-With': 'XMLHttpRequest' }, this.fileRecordsForUpload);
     this.data.song_name = song[0].data;
    }
    const res = await this.$store.dispatch('playlist/saveSong', this.data);
    if (res.status == 200) {
     alert('Song added successfully');
     await this.$store.dispatch('song/getSongs');
     this.$bvModal.hide('uploadmodal');
     this.fileRecords = null;
     this.data.song_artist = '';
     this.data.song_title = '';
    } else {
     this.$bvModal.hide('uploadmodal');
     alert('Something went wrong');
    }
   },
  },
 };
</script>

<style scoped></style>
