<template>
    <!--topbar-->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12 bgbar">
          <br>
          <br>
          <br>
        </div>
      </div>
      <!--topbar-->

      <!--sidebar-->
      <div class="row-fluid no-space">
        <div class="span3 bgmain">
          <img src="img/xmlogo.png" class="center xmlogo">
          
          <div class="sidebar">
            <a class="uploadbtn" href="#" data-toggle="modal" data-target="#uploadmodal">Upload Music</a>
            <!--upload button modal-->
            <div class="modal fade uploadmodal" id="uploadmodal">
              <div class="modal-header">
                <h2 class="uploadmodal">Upload Music</h2>
              </div>
              <div class="modal-body">
                <div class="uploadmusichere">
                  <br>
                  Drag and drop files here
                  <br>
                  <br>
                  </div>
              </div>
                <button type="button" class="btn btn-cancel1 bottomright" data-dismiss="modal">Cancel</button>   
                <button type="button" class="btn btn-upload bottomright">Upload</button>                    
            </div>
            <!--upload button modal-->
            <br>
            <br>
            <br>
            <h2>All Songs</h2>
            <br>
            <br>
            <br>
            <br>
            <a class="addplaylistbtn" href="#" data-toggle="modal" data-target="#addplaymodal">Create Playlist</a>
            <!--add playlist modal-->
            <div class="modal fade uploadmodal" id="addplaymodal">
              <div class="modal-header">
                <h2 class="addplaymodal">Create Playlist</h2>
              </div>
              <div class="modal-body">
                <input type="text" class="playlistaddbar">
              </div>
                <button type="button" class="btn btn-cancel2 bottomright" data-dismiss="modal">Cancel</button>   
                <button type="button" class="btn btn-add bottomright">Create</button>                    
            </div>
            <!--add playlist modal-->
            <br>
            <br>
            <br>
            <div class="playlistspacing">
              <h2>Playlist 1</h2>
              <h2>Playlist</h2>
              <h2>Playlist</h2>
              <h2>Playlist</h2>
            </div>
          </div>
        </div>
        <!--sidebar-->

        <!--main content-->
        <div class="span9 bgwhite">
          <input type="text" class="span3 searchbar" placeholder="Search">
          <div class="allsongstext">
            <br>
            <h2>All Songs</h2>
          </div>
          <br>
          <div class="divScroll">
            <br>
            <br>
            <table class="table table-bordered table-stripped">
              <thead class="theadstyle">
                <tr>
                  <th></th>
                  <th><br>Title<br><br></th>
                  <th><br>Artrist<br><br></th>
                  <th><br>Album<br><br></th>
                  <th><br>Duration<br><br></th>
                </tr>
              </thead>
              <tbody class="tbodystyle">
                <tr>
                  <td>
                    <img src="img/playiconpng.jpg" class="playbutton">
                  </td>
                  <td>I Miss You</td>
                  <td>Kim Bum Soo</td>
                  <td>I Miss You</td>
                  <td>4:33</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/playiconpng.jpg" class="playbutton">
                  </td>
                  <td>Switch to me <br>(duet with JYP)</td>
                  <td>Rain</td>
                  <td>Switch to me <br>(duet with JYP)</td>
                  <td>3:17</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/playiconpng.jpg" class="playbutton">
                  </td>
                  <td>Weekend</td>
                  <td>TAEYEON</td>
                  <td>Weekend</td>
                  <td>3:53</td>
                </tr>
              </tbody>
            </table>
        </div>
        <br>
      </div>
      <!--main content-->
    </div>
    </div>
</template>

<script>
    export default {
        name: "TopBar"
    }
</script>

<style scoped>

</style>
