body {
    padding-top: 60px; 
    overflow-y: hidden;
    overflow-x: hidden;
  }

.example::-webkit-scrollbar {
    display: none;
  }

.forestpicture {
    position: absolute;
    width: 1648px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: url(../img/forest.jpg) no-repeat center fixed;
}

.maintitle {
    position: absolute;
    width: 793px;
    height: 139px;
    left: 31px;
    top: 183px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 181px;

    color: #FFFFFF;
}

.mainsubtitle {
    position: absolute;
    width: 624px;
    height: 128px;
    left: 41px;
    top: 335px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;

    color: #FFFFFF;
}

.enterbutton {
    position: absolute;
    width: 277px;
    height: 85px;
    left: 31px;
    top: 450px;

    background: #458731;
    border-radius: 86px;
}

.enterbuttontext {
    position: absolute;
    width: 91px;
    height: 45px;
    left: 143px;
    top: 470px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;

    color: #FFFFFF;
}

.madeby {   
    position: absolute;
    width: 348px;
    height: 45px;
    left: 41px;
    top: 695px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 45px;

    color: #FFFFFF;
}

.help {
    position: absolute;
    width: 79px;
    height: 45px;
    left: 1390px;
    top: 695px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-decoration-line: underline;

    color: #FFFFFF;
}

.contact {
    position: absolute;
    width: 131px;
    height: 45px;
    left: 1230px;
    top: 695px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-decoration-line: underline;

    color: #FFFFFF;
}

.about {
    position: absolute;
    width: 103px;
    height: 45px;
    left: 1100px;
    top: 695px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-decoration-line: underline;

    color: #FFFFFF;
}
